<div class="container">

    <div class="section section1">
        <app-carousel></app-carousel>
    </div>
    
    <!-- <div class="section section2">
        <h2>Sección 2</h2>
        <p>Contenido de la sección 2</p>
    </div>
    
    <div class="section section3">
        <h2>Sección 3</h2>
        <p>Contenido de la sección 3</p>
    </div>
    <div class="section section4">
        <h2>Sección 3</h2>
        <p>Contenido de la sección 3</p>
    </div> -->
    <app-footer></app-footer>
</div>
