
.carousel-item {
  position: relative;
  text-align: center;
  color: #fff;
  .carousel-background {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .top-caption {
      display: block;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-weight: 300;
      color: #ffffff; /* Color del texto */
    }
    h1 {
      font-size: 5rem;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      color: #ffffff; /* Color del texto */
      font-family: Arial, Helvetica, sans-serif;
    }
    h2 {
      font-size: 4rem;
      font-weight: 300;
      line-height: 1;
      text-transform: uppercase;
      margin: 1rem 1rem 5rem 1rem;
      color: #ffffff; /* Color del texto */
      font-family: Arial, Helvetica, sans-serif;
    }
    .btn {
      font-size: 0.80rem;
      font-weight: 400;
      padding: 1rem 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      transition: background-color 0.3s ease;
      color: darken($color: #ffffff, $amount: 15);
      background-color: hsl(238, 100%, 24%); /* Color del texto */
      border-radius: 10px;
      text-decoration: none;


      font-family: Arial, Helvetica, sans-serif;
      &:hover {
        background-color: hsl(0, 0%, 100%); /* Color del texto */
        color: hsl(238, 100%, 24%); /* Color del texto */
        font-weight: 700;
      }
    }
  }
}

// Adjust this mixin to your color scheme
@mixin button-colors($color) {
  background-color: $color;
  border-color: $color;
  &:hover {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }
}

.btn-primary {
  @include button-colors(#ff4500);
}

    
@media (min-width: 768px) {

}

@media (max-width: 1199.98px) {
  .carousel-item {
    .carousel-caption{
      span {
        margin-bottom: 1rem;
      }
      h1{
        font-size: 5rem;
      }
      h2 {
        font-size: 4rem;
      }
    }
  }
}

@media (max-width: 575.98px) { 
  .carousel-item {
    .carousel-caption{
      span {
        margin-bottom: 2rem;
      }
      h1{
        font-size: 1.5rem;
      }
      h2 {
        font-size: 3rem;
      }
    }
  }
 }