/* You can add global styles to this file, and also import other style files */
/* Reset margin and padding */


body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Optional: Set box-sizing to border-box for all elements */
  * {
    box-sizing: border-box;
  }
  