.header {
    background-image: url('../../../assets/img/carousel-baseball-1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}


.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(7, 9, 151, 0.5);
    /* Blue shadow with transparency */
    z-index: 1;
}

/* The .content class ensures that the text appears on top of the background and overlay */
.content {
    position: relative;
    z-index: 2;
    /* This z-index is higher than that of the ::before pseudo-element */
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 10px;
}

.breadcrumb .separator {
    margin: 0 10px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 3rem 0 2rem;

}

.scoreboard-container {
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #efeeeed2;
    /* Use the full height of the viewport */

}

.scoreboard {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(205, 204, 204, 0.451);
    width: 100%;
    /* Adjust the width as needed */
    margin: auto;

}

.scoreboard-cont {
    width: 700px;
    /* Adjust the width as needed */
    margin: auto;
    padding: 0 1rem 0.3rem 1rem;
    border-radius: 5px;
    border: 0.5px solid rgb(234, 234, 234);
    background-color: white;

}

.radio-button {
    display: flex;
    width: 700px;
    /* Adjust the width as needed */
    margin: auto;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    .form-check-category {
        input[type="radio"] + label{
            font-weight: 500;
            color:#333;
            /* Example: blue background when selected */
            /* Example: blue border when selected */
        }

        input[type="radio"]:checked + label{
            color:#000064;
            font-weight: 800;
            /* Example: blue background when selected */
            /* Example: blue border when selected */
        }

        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

.date-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 1rem;
    color: #333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    /* Adjust the width as needed */
    margin: auto;

}

.season-text {
    font-weight: 800;
}

.fulltime {
    background-color: #d9534f;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.team-score {
    display: flex;
    align-items: center;
}

.team {
    align-items: center;
    text-align: left;
    padding: 0.5rem;
}

.team {
    p {
        font-weight: 800;
        text-transform: uppercase;
        font-stretch: expanded;
        color: #000064;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin: 0px 0.5rem;
    }

    img {
        width: 43px;
        height: 43px;
        outline: none;
        border: none;
        border-radius: 100%;
    }
}

.position {
    display: flex;
    margin-left: 8rem;

    div {
        justify-content: space-between;
        margin-right: 2.6rem;
        color: #000064;
        font-size: 16px;
        text-align: right;
    }

    .last-result {
        color: #000064;
        font-weight: bolder;
    }
}

.table-title {
    display: flex;
    color: #333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    /* Adjust the width as needed */
    margin: 3rem auto 0.5rem auto;
    justify-content: space-between;

    span {
        margin-right: 1.6rem;
    }

    span:last-child {
        margin-right: 0.8rem;

    }

}

.vs {
    width: 150px;
    margin: 0 15px 0 0;
    padding: 1%;
    font-size: 15px;
    color: #333;
}

.score {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}