
.section {
    height: 100vh; /* Altura de la sección igual al 100% del viewport height */
    display: flex; /* Usa flexbox para alinear verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Centra el texto horizontalmente */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
  }
  app-carousel {
    margin-top: 0rem;
    width: 100%;
    height: auto;
    z-index: 10;
  }
  
  .section h2 {
    font-size: 2.5rem; /* Tamaño de fuente del título */
  }
  
  .section p {
    font-size: 1.5rem; /* Tamaño de fuente del contenido */
  }
  
  /* Estilos específicos para cada sección */
  .section1 {
    background-image: url('../../../assets/img/carousel-softball-2.jpeg'); /* Color de fondo de la sección 1 */


    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.72); // Adjust the alpha value to control the darkness
      z-index: 1;
    }
  
    // Ensure that content is positioned above the darkened pseudo-element
    .content {
      position: relative;
      z-index: 2;
      color: #fff; // Example text color for contrast
      // Add more styles for your content here
    }
  
  }
  
  .section2 {
    background-color: #e0e0e0; /* Color de fondo de la sección 2 */
  }
  
  .section3 {
    background-color: #d0d0d0; /* Color de fondo de la sección 3 */
  }
  
  .section4 {
    background-color: #e0e0e0; /* Color de fondo de la sección 2 */
  }